astroid==1.4.9
Django==1.10.3
django-ckeditor==5.1.1
django-formtools==2.0
django-paypal==0.3.6
django-taggit==0.21.3
django-taggit-labels==0.4.1
django-tinymce==2.4.0
django-wysiwyg==0.8.0
isort==4.2.5
lazy-object-proxy==1.2.2
mccabe==0.5.3
pep8==1.7.0
Pillow==3.4.2
pylint==1.6.4
pytz==2017.2
requests==2.13.0
six==1.10.0
wrapt==1.10.8
