{% extends "ASDAWebApp/Generic/navBar.html" %}
{% load staticfiles %}
{% block content %}

<div id="fh5co-hero"  class="container"  style="background-image: url({% static 'img/BookEats.jpeg' %});">
	<div class="overlay"></div>
	<div class="row">
		<div class="col-md-12">
			<div class="fh5co-hero-wrap">
				<div class="fh5co-hero-intro">
					<h1 class="to-animate hero-animate-1">Marquette <span class="gold bold">ASDA</span></h1>
					<p class="to-animate hero-animate-2">Book Club</p>
          <p class="to-animate hero-animate-3"><button href="#" type="button" class="btn btn-outline btn-md">Read With Us</button></p>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="fh5co-main">
  <div id="fh5co-main-height600" class="hidden-xs"><!--This is necessary for mobile.-Keith --></div>
	  <div class="container-fluid white-background">
{% if object_list.count > 1 %}
<div class="fh5co-cards" >
    <br>
    <div class="row">

      <h2 class="fh5co-uppercase-heading-sm text-center">Book Club Latest</h2>
    </div>


    <div class="row blogRow">
      {% for post in  object_list %}
        <div class="col-md-3 animate-box">
            <a class="fh5co-card" href="/blog/{{post.id}}">
              {% if post.headerImage %}
              <img src="{{post.headerImage.url}}" class="img-responsive">
              {% else %}
               <img src="{% static 'img/dentistmeetup.jpg' %}" class="img-responsive">
               {% endif %}

                <div class="fh5co-card-body">
                  <h3 class="post-title">{{post.title|truncatewords:9}}</h3>
                  <div class="blogBody">
                    <span>{{post.body|safe|truncatewords:10}}</span>
                  </div>
									{{post.date.date}}

                </div>
            </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<div class="animate-box fh5co-product-2">
  <div class="fh5co-half img" style="background-image: url({% static 'img/BookClubChairs.jpg' %});"></div>
  <div class="fh5co-half">
    <h3>Cecilia Margraff (D3) | Katie Schuler (D3)</h3>
    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. </p>
  </div>
</div>
</br>
<div class="container second">
  <div class="col-md-12 animate-box">
						<h2 class="fh5co-uppercase-heading-sm text-center">About Book Club</h2>

						<div class="fh5co-spacer fh5co-spacer-sm"></div>

						<div id="fh5co-tab-feature-center" class="fh5co-tab text-center">
							<ul class="resp-tabs-list hor_1">
								<li><i class="fh5co-tab-menu-icon ti-book"></i> What We Do</li>
								<li><i class="fh5co-tab-menu-icon ti-bookmark-alt"></i>Meet Up</li>

							</ul>
							<div class="resp-tabs-container hor_1">
								<div>
									<div class="row">
										<div class="col-md-12">
											<h2 class="h3">Lets Talk Books</h2>
										</div>
										<div class="col-md-6">
											<p>When you read a book, do you ever imagine YOU are any one of the characters within them? Do you ever ponder how YOU would act in the situations the characters get themselves into?</p>
										</div>
										<div class="col-md-6">
											<p>Whether you read it from a paper copy or on your kindle or on your iPad or listen to it on audiotape, come check out our #marquetteasda Book Club. We meet a few times a semester and would love to have YOU join us for our next meeting!</p>
										</div>
									</div>
								</div>
								<div>
									<div class="row">
										<div class="col-md-12">
											<h2 class="h3">Lets Get Together</h2>
										</div>
										<div class="col-md-6">
											<p>Book club gets together once per semester, and we'd love you have you at your next meeting!</p>
										</div>
										<div class="col-md-6">
											<p> To get email updates ont the next meeting, contact <a href="mailto:katherine.schuler@marquette.edu">Katie</a> or <a href="mailto:cecilia.margraff@marquette.edu">Cecilia</a>! </p>
										</div>
									</div>
								</div>

								<div>
									<div class="row">
										<div class="col-md-12">
											<h2 class="h3">We Love Suggestions</h2>
										</div>
										<div class="col-md-6">
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda quis deserunt dolorem, debitis cupiditate nihil velit dolores, inventore voluptatem delectus quos atque similique natus eaque qui, nisi repudiandae dolore sit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aut maxime eius magnam.</p>
										</div>
										<div class="col-md-6">
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio voluptatem, vitae nesciunt ad hic quam quisquam sit possimus officia ratione. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ex. Lorem ipsum dolor sit amet.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

</div>
<hr class="fh5co-spacer fh5co-spacer-sm">
<hr class="fh5co-spacer fh5co-spacer-sm">
{% include "ASDAWebApp/Generic/smallFooter.html" %}
</div>
{% endblock %}
