{% extends "ASDAWebApp/Generic/navBar.html" %}
{% load staticfiles %}
{% block body %}

			<div id="fh5co-hero"  class="container"  style="background-image: url({% static 'img/Clue.jpeg' %});">
				<div class="overlay"></div>


				<div class="row">
					<div class="col-md-12">
						<div class="fh5co-hero-wrap">
							<div class="fh5co-hero-intro">
								<h1 class="to-animate hero-animate-1">WE ARE <span class="gold bold">OUR COMMITTEES</span></h1>
								<p class="to-animate hero-animate-2">Marquette University School of Dentistry</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="fh5co-main">
		 {% block content %}
		 {% endblock %}



{% include "ASDAWebApp/Generic/genericFooter.html" %}
</div>
{% endblock %}
