{% extends "ASDAWebApp/Committees/CommitteeHeader.html"%}
{% load staticfiles %}
{% block content %}
  <div class="animate-box fh5co-product-2">
    <div class="fh5co-half img" style="background-image: url({% static 'img/BookClub2.jpeg' %});"></div>
    <div class="fh5co-half">
      <h3>Book Club</h3>
      <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. </p>
      <p><a href="{% url 'BookClubView' %}" class="btn btn-outline btn-md">Learn More</a></p>
    </div>
  </div>

  <div class="animate-box fh5co-product-2 fh5co-reverse">
    <div class="fh5co-half img" style="background-image: url({% static 'img/CommunityService.jpeg' %});"></div>
    <div class="fh5co-half">
      <h3>Community Service Committee</h3>
      <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. </p>
      <p><a href="{% url 'CommunityServiceView' %}" class="btn btn-outline btn-md">Learn More</a></p>
    </div>
  </div>
  <div class="animate-box fh5co-product-2">
    <div class="fh5co-half img" style="background-image: url({% static 'img/HealthCommittee.jpeg' %});"></div>
    <div class="fh5co-half">
      <h3>Health And Wellness</h3>
      <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. </p>
      <p><a href="{% url 'HealthView' %}" class="btn btn-outline btn-md">Learn More</a></p>
    </div>
  </div>

  <div class="animate-box fh5co-product-2 fh5co-reverse">
    <div class="fh5co-half img" style="background-image: url({% static 'img/FundRaising.jpeg' %});"></div>
    <div class="fh5co-half">
      <h3>Fundraising Committee</h3>
      <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. </p>
      <p><a href="{% url 'FundraisingView' %}" class="btn btn-outline btn-md">Learn More</a></p>
    </div>
  </div>
  <div class="animate-box fh5co-product-2">
    <div class="fh5co-half img" style="background-image: url({% static 'img/PedoCommittee.jpeg' %});"></div>
    <div class="fh5co-half">
      <h3>Pediatric Committee</h3>
      <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. </p>
      <p><a href="{% url 'PrediatricView' %}" class="btn btn-outline btn-md">Learn More</a></p>
    </div>
  </div>

  <div class="animate-box fh5co-product-2 fh5co-reverse">
    <div class="fh5co-half img" style="background-image: url({% static 'img/Mustache.jpeg' %});"></div>
    <div class="fh5co-half">
      <h3>Social Committee</h3>
      <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. </p>
      <p><a href="{% url 'SocialView' %}" class="btn btn-outline btn-md">Learn More</a></p>
    </div>
  </div>
  <div class="animate-box fh5co-product-2">
    <div class="fh5co-half img" style="background-image: url({% static 'img/Salad.jpeg' %});"></div>
    <div class="fh5co-half">
      <h3>Lunch Club</h3>
      <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. </p>
      <p><a href="#" class="btn btn-outline btn-md">Learn More</a></p>
    </div>
  </div>
  <div class="animate-box fh5co-product-2 fh5co-reverse">
    <div class="fh5co-half img" style="background-image: url({% static 'img/Sustainability.jpeg' %});"></div>
    <div class="fh5co-half">
      <h3>Sustainability Committee</h3>
      <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. </p>
      <p><a href="#" class="btn btn-outline btn-md">Learn More</a></p>
    </div>
  </div>
{% endblock %}
