{% extends "ASDAWebApp/Generic/navBar.html" %}
{% load staticfiles %}
{% block content %}
			<div id="fh5co-hero"  class="container"  style="background-image: url({% static 'img/YogaCore.jpeg' %});">
				<div class="overlay"></div>


				<div class="row">
					<div class="col-md-12">
						<div class="fh5co-hero-wrap">
							<div class="fh5co-hero-intro">
								<h1 class="to-animate hero-animate-1">Marquette <span class="gold bold">ASDA</span></h1>
								<p class="to-animate hero-animate-2">Health And Wellness</p>
                <p class="to-animate hero-animate-3"><button href="#" type="button" class="btn btn-outline btn-md">Let's Get Healthy</button></p>
							</div>
						</div>
					</div>
				</div>
			</div>

<div id="fh5co-main">
  <div id="fh5co-main-height600" class="hidden-xs"><!--This is necessary for mobile.-Keith --></div>
	  <div class="container-fluid white-background">
{% if object_list.count > 1 %}
<div class="fh5co-cards" >
    <br>
    <div class="row">

      <h2 class="fh5co-uppercase-heading-sm text-center">Health and Fitness Latest</h2>
    </div>


    <div class="row blogRow">
      {% for post in  object_list %}
        <div class="col-md-3 animate-box">
            <a class="fh5co-card" href="/blog/{{post.id}}">
              {% if post.headerImage %}
              <img src="{{post.headerImage.url}}" class="img-responsive">
              {% else %}
               <img src="{% static 'img/dentistmeetup.jpg' %}" class="img-responsive">
               {% endif %}

                <div class="fh5co-card-body">
                  <h3 class="post-title">{{post.title|truncatewords:9}}</h3>
                  <div class="blogBody">
                    <span>{{post.body|safe|truncatewords:10}}</span>
                  </div>
									{{post.date.date}}

                </div>
            </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
<div class="animate-box fh5co-product-2">
  <div class="fh5co-half img" style="background-image: url({% static 'img/HealthGuy.jpeg' %});"></div>
  <div class="fh5co-half">
    <h3>Michael Smoljan (D3) | Adam Lysak (D3)</h3>
    <p>The Health and Wellness committee, new to Marquette ASDA, is really excited about all the positive energy we hope to bring! Our hope is to promote the importance of leading a healthy and balanced lifestyle, even in the midst of our stressful and busy lives as dental students and dentists. We are advocates of oral health, but must also be proponents of systemic health. We must be healthy to promote healthy—not just in the oral cavity! We organize events to encourage each other to stay active and fit. Some of the events that we organize include “Yoga in 194” and the “Fall Fitness Challenge”. </p>
  </div>
</div>
  <hr class="fh5co-spacer fh5co-spacer-sm">
</br>
<div class="container second">
  <div class="col-md-12 animate-box">
						<h2 class="fh5co-uppercase-heading-sm text-center">About Health &amp; Wellness Committee</h2>

						<div class="fh5co-spacer fh5co-spacer-sm"></div>

						<div id="fh5co-tab-feature-center" class="fh5co-tab text-center">
							<ul class="resp-tabs-list hor_1">
								<li><i class="fh5co-tab-menu-icon ti-pulse"></i> What We Do</li>
								<li><i class="fh5co-tab-menu-icon ti-comments"></i>Meet Up</li>

							</ul>
							<div class="resp-tabs-container hor_1">
								<div>
									<div class="row">
										<div class="col-md-12">
											<h2 class="h3">Let's Get Healthy</h2>
										</div>
										<div class="col-md-6">
											<p>Our committee spreads positive energy, encouragement and ideas to help keep Marquette students at their best! Our hope is to promote the importance of leading a healthy and balanced lifestyle, even in the midst of our stressful and busy lives as dental students and dentists. We begin each new year with our Wellness Week, including yoga, strength training,</p>
										</div>
										<div class="col-md-6">
											<p> and mindfulness workshops! Keep an eye out for volleyball tournaments, monthly yoga classes, and ergonomics lunch and learns!</p>
										</div>
									</div>
								</div>
								<div>
									<div class="row">
										<div class="col-md-12">
											<h2 class="h3">Lets Get Together</h2>
										</div>
										<div class="col-md-6">
											<p>Our committee regularly puts on events, so keep on eye on our <a href="{% url 'Calendar' %}">calendar</a> for anything coming soon!</p>
										</div>
										<div class="col-md-6">
											<p>For anything else, email <a href="mailto:adam.lysak@marquette.edu">Adam</a> or <a href="mailto:michael.smoljan@marquette.edu">Michael</a>. We'd love to hear from you!</p>
										</div>
									</div>
								</div>
							<!--	<div>
									<div class="row">
										<div class="col-md-12">
											<h2 class="h3">We Love Suggestions</h2>
										</div>
										<div class="col-md-6">
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda quis deserunt dolorem, debitis cupiditate nihil velit dolores, inventore voluptatem delectus quos atque similique natus eaque qui, nisi repudiandae dolore sit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aut maxime eius magnam.</p>
										</div>
										<div class="col-md-6">
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio voluptatem, vitae nesciunt ad hic quam quisquam sit possimus officia ratione. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ex. Lorem ipsum dolor sit amet.</p>
										</div>
									</div>
								</div> -->
							</div>
						</div>
					</div>

</div>
<hr class="fh5co-spacer fh5co-spacer-sm">
<hr class="fh5co-spacer fh5co-spacer-sm">
{% include "ASDAWebApp/Generic/footer.html" %}
</div>
{% endblock %}
