body{
    overflow-x: hidden;
}

.parallax-mirror {
    z-index:1;
}
.parallax-window {
    min-height: 700px;
    background: transparent;
    width: 100%;
    height: 7em;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

.gold{
  color: #FFB400;
}

.bold{
  font-weight: bold;
}

.mapholder{
    height: 300px;
}

#map {
  height: 100%;
  width: 100%;
}

.address p{
  margin-bottom: 0px;
}
.address{
  margin-bottom: 10px;
}

#bodyInput{
  resize: vertical;
  height: 6em;
}

.copyrightFooter{
  margin-top:20px;
}
/*FRONT PAGE BLOG*/
.blogRow{
  padding: 1.5em;
}
.blogBody{
  min-height: 7em;
  max-height: 7em;
}
.subBlogBody{
  margin:0;
}
.subBlogAuthor{
  color: black;
  margin:5px 0;
  font-size: 10px;
}
.white-background{
  background:white;
}
.gray-background{
  background: #f3f8f9;
}
.marginBottom30{
  margin-bottom: 30px;
}
#calendar{
  min-height: 500px;
}
.paddingBottom30{
  padding-bottom:30px;
}

/* masonry */
.grid-sizer,
.grid-item {
  width: 33.333%;
}
.grid-item-2 {
  width: 66.666%;
}
.grid-item img {
  display: block;
  min-width: 100%;
  max-width: 100%;
}
.grid-item-2 img {
  display: block;
  min-width: 100%;
  max-width: 100%;
}

.committee-img{
  width: auto;
  align-content: center;
  max-height: 200px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.designerLinks{
  margin-top: 32px;
}

.designerLinks a:link {
  color:#676e72;
  text-decoration: none;
}
.designerLinks a:visited {
  color:#676e72;
  text-decoration: none;
}
.designerLinks a:hover {
  color:#FFB400;
  text-decoration: none;
}
.designerLinks a:active {
  color:#FFB400;
  text-decoration: none;
}

.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}

.padded15{
  padding-left: 15px;
  padding-right: 15px;
}

.formPages{
  padding:15px;
  margin:5px;
}

#inputFailure{
  padding:10px;
  border-radius: 5px;
}
#inputFailure p{
  margin:0;
}
