{% extends "ASDAWebApp/Blog/blogHeader.html"%}


{% block blog %}

    <div id="fh5co-main">

			<div class="container">
				<div class="row">

					<div class="col-md-8 col-md-push-4" id="fh5co-content">
            {% for post in object_list %}
  						<div class="content-box animate-box">
                <h2>{{post.title}}</h2>
                <h4>{{post.date.date}}</h4>
  							{{post.body|safe|truncatewords:100}}
                <a href="/blog/{{post.id}}"> <p>Continue Reading</p></a>
                <span class="border"></span>
  						</div>
            </br>
            {% endfor %}

					</div>

					<div class="col-md-2 col-md-pull-8 left-sidebar" id="fh5co-sidebar">
						<div class="sidebar-box animate-box">
							<h3 class="sidebar-heading"><span class="border"></span>More Subjects</h3>
							<ul class="sidebar-links">
                {% for tag in tags %}
								<li><a href="tags/{{tag}}">{{tag}}</a></li>
                {% endfor %}
							</ul>
						</div>
            <div class="sidebar-box animate-box">
							<h3 class="sidebar-heading"><span class="border"></span>Pargraph</h3>
							<p>Check out what MarquetteASDA as been up to! This is the prime location to see what awesome things we're going to do, as well as a prime location to checkout what we've done in the past!</p>
						<!--	<p><a href="" class="btn btn-outline btn-sm">Events</a></p> -->
						</div>
					</div>

				</div>
        <div>
        {% if is_paginated %}
        <ul class="pagination col-md-8 col-md-push-4">
          {% if page_obj.has_previous %}
          <li><a href="?page={{page_obj.previous_page_number}}">&laquo;</a> </li>
          {% else %}
          <li class="disabled"><span>&laquo;</span></li>
          {% endif %}
          {% for pageNumber in paginator.page_range %}
            {% if page_obj.number == pageNumber %}
              <li class="active"><span> {{ pageNumber }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li><a href="?page={{ pageNumber }}"> {{ pageNumber }}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>
        {% endif %}
      </div>

		</div>

	</div>

{% endblock %}
