{% extends "ASDAWebApp/Generic/navBar.html" %}
{% load staticfiles %}
{% block body %}


			</header>
			{% if object.headerImage %}
				<div id="fh5co-hero"  class="container"  style="background-image: url({{object.headerImage.url}});">
			{% else %}
				<div id="fh5co-hero"  class="container"  style="background-image: url({% static 'img/dentistmeetup.jpg' %});">
			{% endif %}
			<div class="overlay"></div>


				<div class="row">
					<div class="col-md-12">
						<div class="fh5co-hero-wrap">
							<div class="fh5co-hero-intro">
								<h1 class="to-animate hero-animate-1"><span class="gold bold">{{object.title}}</span></h1>
								<p class="to-animate hero-animate-2">{{object.date.date}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
<div id="fh5co-main">
</br>
{% block blog %}
<body>

<div class="container">
<div class="row">
	<!-- Start Slider -->
{% if object.blogImages.all %}
				<h2 class="fh5co-uppercase-heading-sm text-center animate-box">Slider</h2>
				<div class="fh5co-spacer fh5co-spacer-xs"></div>

				 <div class="row">
					<div class="col-md-12">
						<div class="owl-carousel owl-carousel-fullwidth animate-box">
							{% for image in object.blogImages.all %}
								<div class="item"><a href="{{image.Image.url}}" class="image-popup"><img src="{{image.Image.url}}" alt="image"></a></div>
							{% endfor %}
				 </div>
			 </div>


				<!-- End Slider -->

				<div class="fh5co-spacer fh5co-spacer-lg"></div>

				<!-- Start Slider Testimonial -->
				<!-- <h2 class="fh5co-uppercase-heading-sm text-center animate-box">Customer Says...</h2>
				<div class="fh5co-spacer fh5co-spacer-xs"></div>
				<div class="owl-carousel-fullwidth animate-box">
				<div class="item">
					<p class="text-center quote">&ldquo;Design must be functional and functionality must be translated into visual aesthetics, without any reliance on gimmicks that have to be explained. &rdquo; <cite class="author">&mdash; Ferdinand A. Porsche</cite></p>
				</div>
				<div class="item">
					<p class="text-center quote">&ldquo;Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn’t really do it, they just saw something. It seemed obvious to them after a while. &rdquo;<cite class="author">&mdash; Steve Jobs</cite></p>
				</div>
				<div class="item">
					<p class="text-center quote">&ldquo;I think design would be better if designers were much more skeptical about its applications. If you believe in the potency of your craft, where you choose to dole it out is not something to take lightly. &rdquo;<cite class="author">&mdash; Frank Chimero</cite></p>
				</div>
			</div> -->
			<div class="fh5co-spacer fh5co-spacer-lg"></div>
			 <!-- End Slider Testimonial -->
	</div>
	{% endif %}
</div>
    <div class="container">
      <div class="row">
              <div class="col-md-8 col-md-push-4" id="fh5co-content">
								<div class="content-box animate-box">
									<h2>{{object.title|striptags}}</h2>
                	{{ object.body|safe|linebreaks }}
                <a> Subjects:
                  {% for tag in object.tags.all %}
                  <a href="{{tag}}">{{tag}}</a>
                  {% endfor %}
                </a>
							</div>
            </div>
						<div class="col-md-2 col-md-pull-8 left-sidebar" id="fh5co-sidebar">
							<div class="sidebar-box animate-box">
								<h3 class="sidebar-heading"><span class="border"></span>Simmilar Posts</h3>
								<ul class="sidebar-links">
	                {% for post in relatedPosts %}
									<li><a href="/blog/{{post.id}}">{{post.title}}</a></li>
	                {% endfor %}
								</ul>
							</div>
	            <div class="sidebar-box animate-box">
								<h3 class="sidebar-heading"><span class="border"></span>Pargraph</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, aperiam placeat deserunt ullam magnam repudiandae reprehenderit animi aliquid odio ratione.</p>
								<p><a href="#" class="btn btn-outline btn-sm">Button</a></p>
							</div>
						</div>
      </div>
    </div>

	{% endblock %}
</div>
</div>
</body>
{% include "ASDAWebApp/Generic/genericFooter.html" %}
{% endblock %}
