{% extends "ASDAWebApp/Generic/navBar.html" %}
{% block content %}
{% load staticfiles %}

	{% if object.headerImage %}
		<div id="fh5co-hero"  class="container"  style="background-image: url({{object.headerImage.url}});">
	{% else %}
		<div id="fh5co-hero"  class="container"  style="background-image: url({% static 'img/dentistmeetup.jpg' %});">
	{% endif %}
	<div class="overlay"></div>

		<div class="row">
			<div class="col-md-12">
				<div class="fh5co-hero-wrap">
					<div class="fh5co-hero-intro">
						<h1 class="to-animate hero-animate-1"><span class="gold bold">{{object.title}}</span></h1>
						<p class="to-animate hero-animate-2">{{object.date.date}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

<div id="fh5co-main">
</br>
{% block blog %}

<div class="container-fluid white-background">

    <br>
    <div class="row">
      <div class="col-sm-12 heading text-center"><h2>Blog</h2></div>
    </div>

<div class="row">
	<!-- Start Slider -->
{% if object.blogImages.all %}
				<h2 class="fh5co-uppercase-heading-sm text-center animate-box">Slider</h2>
				<div class="fh5co-spacer fh5co-spacer-xs"></div>

				 <div class="row">
					<div class="col-md-12">
						<div class="owl-carousel owl-carousel-fullwidth animate-box">
							{% for image in object.blogImages.all %}
								<div class="item"><a href="{{image.Image.url}}" class="image-popup"><img src="{{image.Image.url}}" alt="image"></a></div>
							{% endfor %}
				 </div>
			 </div>

	</div>
	{% endif %}
</div>
    <div class="container">
      <div class="row">
              <div class="col-md-8 col-md-push-4">
								<div class="content-box animate-box">
									<h2>{{object.title|striptags}}</h2>
                	{{ object.body|safe|linebreaks }}
                <a> Subjects:
                  {% for tag in object.tags.all %}
                  <a href="tags/{{tag}}">{{tag}}</a>
                  {% endfor %}
                </a>
							</div>
            </div>
						<div class="col-md-2 col-md-pull-8 left-sidebar" id="fh5co-sidebar">
							<div class="sidebar-box animate-box">
								<h3 class="sidebar-heading"><span class="border"></span>Simmilar Posts</h3>
								<ul class="sidebar-links">
	                {% for post in relatedPosts %}
									<li><a href="/blog/{{post.id}}">{{post.title}}</a></li>
	                {% endfor %}
								</ul>
							</div>
							<div class="sidebar-box animate-box">
								 <h3 class="sidebar-heading"><span class="border"></span>Stay Tuned!</h3>
								 <p>Check out what MarquetteASDA as been up to! This is the prime location to see what awesome things we're going to do, as well as a prime location to checkout what we've done in the past!</p>
								 <!--	<p><a href="" class="btn btn-outline btn-sm">Events</a></p> -->
							 </div>
						</div>
      </div>
    </div>
</div>
	{% endblock %}
</div>
{% include "ASDAWebApp/Generic/smallFooter.html" %}
{% endblock %}
