{% extends "ASDAWebApp/Generic/navBar.html" %}
{% load staticfiles %}
{% block body %}

			<div id="fh5co-hero"  class="container"  style="background-image: url({% static 'img/dentistmeetup.jpg' %});">
				<div class="overlay"></div>

				<div class="row">
					<div class="col-md-12">
						<div class="fh5co-hero-wrap">
							<div class="fh5co-hero-intro">
								<h1 class="to-animate hero-animate-1">Blog  <span class="gold bold">Marquette ASDA</span></h1>
								<p class="to-animate hero-animate-2">Whats new with us</p>
							</div>
						</div>
					</div>
				</div>
			</div>

<div>
		 {% block blog %}
		 {% endblock %}
</div>




{% include "ASDAWebApp/Generic/genericFooter.html" %}
{% endblock %}
