{% extends "ASDAWebApp/Generic/navBar.html" %}
{% load staticfiles %}
{% block content %}

<div id="fh5co-hero"  class="container"  style="background-image: url({% static 'img/BookEats.jpeg' %});">
	<div class="overlay"></div>
	<div class="row">
		<div class="col-md-12">
			<div class="fh5co-hero-wrap">
				<div class="fh5co-hero-intro">
					<h1 class="to-animate hero-animate-1">Marquette <span class="gold bold">ASDA</span></h1>
					<p class="to-animate hero-animate-2">PREDENTAL Weekend Sign Up</p>
          <!--<p class="to-animate hero-animate-3"><button href="#" type="button" class="btn btn-outline btn-md">Sign Up!</button></p>--->
				</div>
			</div>
		</div>
	</div>
</div>

<div id="fh5co-main">
	  <div id="mainSignUpForm" class="container-fluid white-background second">
			<br>
			<h2 class="text-center">Pre Dental Sign Up: </h2>
        <form id="preDentalSignUpForm">
          <div class="row">
            {% csrf_token %}
            <div class="formPages" id="PreDentalpage1">
							<div class="col-md-5 col-md-offset-1">
	              <div class="form-group">
	                  <label for="Name">Name:</label>
	                  <input type="text" class="form-control" name="Name" placeholder="Name"/>
	              </div>
	              <div class="form-group">
	                  <label for="Phone">Phone:</label>
	                  <input type="text" class="form-control" name="Phone" placeholder="555-123-4567"/>
	              </div>
	              <div class="form-group">
	                  <label for="Address1">Address:</label>
	                  <input type="text" class="form-control" name="Address1" placeholder="1234 W Main St. 53445 Milwaukee, WI"/>
	              </div>
	              <div class="form-group">
	                  <label for="Address2">Apartment #, etc:</label>
	                  <input type="text" class="form-control" name="Address2" placeholder="Apt. 8"/>
	              </div>
	              <div class="form-group">
	                  <label for="Email">Email:</label>
	                  <input type="text" class="form-control" name="Email" placeholder="me@mail.com"/>
	              </div>
	              <div class="form-group">
	                  <label for="Gender">Gender:</label>
		                <select class="form-control" name="Gender">
		                  <option value="Male">Male</option>
		                  <option value="Female">Female</option>
		                  <option value="PreferNot">Prefer not to say</option>
		                </select>
	              </div>
	              <div class="form-group">
	                  <label for="BirthDate">Birth Date:</label>
	                  <input type="text" class="form-control" name="BirthDate" placeholder="12-31-1999"/>
	              </div>
							</div>
					    <div class="col-md-5">
									<div class="form-group">
											<label for="School">School:</label>
											<input type="text" class="form-control" name="School" placeholder="UW-Milwaukee"/>
									</div>
									<div class="form-group">
											<label for="Year">Graduation Year:</label>
											<input type="text" class="form-control" name="Year" placeholder="2018"/>
									</div>
									<h3>Emergency Contact Information:</h3>
		              <div class="form-group">
		                  <label for="EmergName">Relation:</label>
		                  <input type="text" class="form-control" name="EmergName" placeholder="Sue - Mother"/>
		              </div>
		              <div class="form-group">
		                  <label for="EmergPhone">Phone:</label>
		                  <input type="text" class="form-control" name="EmergPhone" placeholder="555-123-4567"/>
		              </div>
		              <div class="form-group">
		                  <label for="EmergEmail">Email:</label>
		                  <input type="text" class="form-control" name="EmergEmail" placeholder="me@mail.com"/>
		              </div>

									<button type="button" id="submitpage1" class="btn btn-default formNext">Next Page</button>
		            </div>
						</div>

            <div class="formPages hidden" id="PreDentalpage2">
							<div class="col-md-5 col-md-offset-1">
	              <div class="form-group">
	                  <label for="SocialEvent">Social Event:</label>
		                <select class="form-control" name="SocialEvent">
		                  <option value="True">Yes</option>
		                  <option value="False">No</option>
		                </select>
	              </div>
								<div class="form-group">
										<div class="form-group">
										  <label for="DietaryNeeds">Dietary Needs:</label>
										  <textarea class="form-control" rows="5" name="DietaryNeeds"></textarea>
										</div>
	              </div>
							</div>
							<div class="col-md-5 col-md-offset-1">
								<div class="form-group">
	                  <label for="NeedHotel">Need Hotel:</label>
		                <select class="form-control" name="NeedHotel">
		                  <option value="False">No ($325)</option>
		                  <option value="True">Yes ($425)</option>
		                </select>
	              </div>
								<br>

								<br>
	              <button type="button" id="backpage2" class="btn btn-default formBack">Previous</button>
								<button type="button" id="submitSignUp" class="btn btn-default">Submit</button>
								<div id="inputFailure" class="bg-danger hidden">
									<p>Check your inputs again.</p>
								</div>
	              <!-- include this if there's a direct paypal credit card intergration neede
								<button type="button" id="submitpage2" class="btn btn-default formNext">Next</button> -->

							<div id="formSuccess" class="bg-success hidden">
								<p>Your form was submitted, thank you!</p>
							</div>

							<div id="inputFailure" class="bg-danger hidden">
								<p>Check your inputs again.</p>
							</div>
							</div>
            </div>

            <div class="formPages hidden" id="PreDentalpage3">
						<div class="col-md-10 col-md-offset-1">
							<h3>Emergency Contact Information:</h3>
				      <div class="form-group">
				        <label class="control-label" for="cardHolderName">Name on Card</label>
				        <input type="text" class="form-control" name="cardHolderName" placeholder="Card Holder's Name">
				      </div>

				      <div class="form-group">
				        <label class="control-label" for="cardNumber">Card Number</label>
				        <input type="text" class="form-control" name="cardNumber" placeholder="Debit/Credit Card Number">
				      </div>

				      <div class="form-group">
				        <label class="control-label" for="expiryMonth">Expiration Date</label>
				          <div class="row">
				            <div class="col-xs-3">
				              <select class="form-control col-sm-2" name="expiryMonth">
				                <option>Month</option>
				                <option value="01">Jan (01)</option>
				                <option value="02">Feb (02)</option>
				                <option value="03">Mar (03)</option>
				                <option value="04">Apr (04)</option>
				                <option value="05">May (05)</option>
				                <option value="06">June (06)</option>
				                <option value="07">July (07)</option>
				                <option value="08">Aug (08)</option>
				                <option value="09">Sep (09)</option>
				                <option value="10">Oct (10)</option>
				                <option value="11">Nov (11)</option>
				                <option value="12">Dec (12)</option>
				              </select>
				            </div>
				            <div class="col-xs-3">
				              <select class="form-control" name="expiryYear">
				                <option>Year</option>
				                <option value="17">2017</option>
				                <option value="18">2018</option>
				                <option value="19">2019</option>
				                <option value="20">2020</option>
				                <option value="21">2021</option>
				                <option value="22">2022</option>
				                <option value="23">2023</option>
				              </select>
				            </div>
				          </div>
				      </div>

				      <div class="form-group">
				        <label class="control-label" for="cvv">Card CVV</label>
				          <input type="text" class="form-control" name="cvv" placeholder="Security Code">
				      </div>

							<button type="button" id="backpage3" class="btn btn-default formBack">Previous</button>
							<button type="button" id="submitSignUp" class="btn btn-default">Submit</button>

							<div id="inputFailure2" class="bg-danger hidden">
								<p>Check your inputs again.</p>
							</div>
						</div>
            </div>
            <br>
          </div>
        </form>
        <br>
        <p id="return"></p>
		</div>
</div>
<hr class="fh5co-spacer fh5co-spacer-sm">
<hr class="fh5co-spacer fh5co-spacer-sm">

{% load staticfiles %}
{% load formFilters %}

	<footer role="contentinfo" id="fh5co-footer" class="signUpFooter">
		<a href="#" class="fh5co-arrow fh5co-gotop footer-box"><i class="ti-angle-up"></i></a>
		<div class="container">
    <div class="row">
      <div class="col-md-7 col-xs-12 footer-box">
        <h3 class="fh5co-footer-heading">About us</h3>
        <p>The American Student Dental Association is a national student-run organization that protects and advances the rights, interests and welfare of dental students. It introduces students to lifelong involvement in organized dentistry and provides services, information, education, representation and advocacy. </p>
      </div>
      <div class="col-md-5 col-xs-12 footer-box">
        <h3 class="fh5co-footer-heading">Links</h3>
        <ul class="fh5co-footer-links">
          <li><a href="http://marquette.edu">Marquette University</a></li>
          <li><a href="https://www.asdanet.org">ASDA</a></li>
          <li><a href="{% url 'admin:index' %}">Log in</a></li>
        </ul>
      </div>
    </div>
		<div class="row">
			<div class="col-md-7 col-sm-12 footer-box">
			<div class="fh5co-main-height50 visible-xs-block visible-sm-block"><!--This looks nicer for mobile.-Keith Hetzel--></div>
				<h3 class="fh5co-footer-heading">Get in touch</h3>
				<ul class="fh5co-social-icons">
					<li><a href="https://plus.google.com/u/0/111559584108125364001/posts"><i class="ti-google"></i></a></li>
					<li><a href="https://twitter.com/marquetteasda"><i class="ti-twitter-alt"></i></a></li>
					<li><a href="https://www.facebook.com/MarquetteASDA"><i class="ti-facebook"></i></a></li>
					<li><a href="https://www.instagram.com/marquetteasda/"><i class="ti-instagram"></i></a></li>
					<li><a href="https://www.youtube.com/user/marquetteasda"><i class="ti-youtube"></i></a></li>
				</ul>
			</div>

		  <div class="col-md-5 col-sm-12 footer-box">
		    <div>
  				<div class="fh5co-main-height50 visible-xs-block visible-sm-block"><!--This looks nicer for mobile.-Keith Hetzel--></div>
  		      <p class="designerLinks">Copyright &copy; Marquette 2016<br>Designed by <a href="http://raymondcisneros.com" target="_blank">Raymond Cisneros</a> &amp; <a href="http://keithhetzel.com" target="_blank">Keith Hetzel</a></p>
  		    </div>
		  </div>
		</div>
	</footer>

</body>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/parallax.min.js' %}"></script>

<!-- these are the import js files from the valet site -->
<script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/hoverIntent.js' %}"></script>
<script type="text/javascript" src="{% static 'js/superfish.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easyResponsiveTabs.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fastclick.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.parallax-scroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/handlers.js' %}"></script>

</html>

{% endblock %}
